@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(194, 100%, 33%, 0.815);
  transition: 0.2s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(295, 37%, 50%, 0.2);
  }

  input:hover {
    background-color: hsla(295, 37%, 50%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

main {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 5rem;
}

textarea {
  background: transparent;
  border-radius: 4px;
  padding: 0.2em 0.6em;
  margin-top: 10px;
  color: beige;
}

input {
  background: transparent;
  color: hsla(194, 100%, 33%, 0.815);
  transition: 0.2s;
}
